<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
 <connectionStrings>
    <!--MSSQL-->
    <!--REMOTE-->
    <!--<add name="CnStr" connectionString="SERVER=184.168.194.53;Initial Catalog=SchMate;Persist Security Info=True;Connection Timeout=15;User ID=SchMateUser;Password=Admin*011;Encrypt=False;Packet Size=4096"/>-->
    <!--LOCAL-->
    <add name="CnStr" connectionString="SERVER=DESKTOP-8QR6MS8\APPS;Initial Catalog=WebStore;Persist Security Info=True;Connection Timeout=90;User ID=sa;Password=penny"/>
    <!--MySQL-->
    <!--<add name="CnStr" connectionString="Server=localhost;Database=schoolmate;Uid=root;Pwd=penny"/>-->
    <!--FOR SQLLITE-->
    <!--<add name="CnStr" connectionString="Data Source=C:\\Applications\\ApexSuiteOnline\\App_Data\\ApexSuite.Db;Version=3;Password=penny"/>-->
  </connectionStrings>
</configuration>
